html {
    font-family: Helvetica, sans-serif;
    background-color: black;
    color: white;
}

body {
}
.heading {
    font-size: 3em;
    text-shadow: 0 0 2em red;
    margin-top: 1em;
    margin-bottom: 0.125em;
}

.number-item {
    background-color: green;
}