<html>
    <head> 
    
    <title>Tech Chat</title>
    
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/style.css') }}" /> -->
    
    <meta name="google-signin-client_id" content="192807312085-9jk4t8hnf02gcb6bekmsu73h5td0reap.apps.googleusercontent.com">
    
    <script src="https://www.gstatic.com/firebasejs/3.6.9/firebase.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
    <script>

function showButtons () { $('#b1, #b2, #b3').show(); }

</script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyCzKHMMQFW9QuZmaJAoWqadLibCNBTBggs", //browser key
    authDomain: "se-project2.firebaseapp.com",
    databaseURL: "https://se-project2.firebaseio.com",
    storageBucket: "se-project2.appspot.com",
    messagingSenderId: "192807312085"
  };
  firebase.initializeApp(config);
</script>

<style type="text/css">
    #b1 {
    display: none;
}

</style>

 <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark" id = "b1"></div>

    </head>
    
    <body style = background-image:url("{{ url_for('static', filename='media/techWallpaper.jpeg') }}")>
        <div id="status" align></div>

        <center>
            <div id ="darkSkyImage" style="background-color: white; opacity: 0.4">
                <img src="{{ url_for('static', filename='media/dark_sky.png') }}" alt="Smiley face" height="90" width="450">
            </div>
            <div id ="googleButton"></div>
            <div id ="facebookButton"></div>
            <div id ="chatApp"></div>
            
            <script type="text/javascript" src="/static/script.js"></script>
        </center>
    </body>
    
</html>