<html>
    <head>  
    
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/style.css') }}" /> -->
    
    <meta name="google-signin-client_id" content="192807312085-9jk4t8hnf02gcb6bekmsu73h5td0reap.apps.googleusercontent.com">
    
    <script src="https://www.gstatic.com/firebasejs/3.6.9/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyCzKHMMQFW9QuZmaJAoWqadLibCNBTBggs", //browser key
    authDomain: "se-project2.firebaseapp.com",
    databaseURL: "https://se-project2.firebaseio.com",
    storageBucket: "se-project2.appspot.com",
    messagingSenderId: "192807312085"
  };
  firebase.initializeApp(config);
</script>
        
 </script>
 

    </head>
    
    <body style = background-image:url("{{ url_for('static', filename='media/techWallpaper.jpeg') }}")>
        <div id="status" align></div>

        <center>
            <div id ="googleButton"></div>
            <div id ="facebookButton"></div>
            <div id ="chatApp"></div>
            
            <script type="text/javascript" src="/static/script.js"></script>
        </center>
    </body>
    
</html>