<html>
    <head>  <meta name="google-signin-client_id" content="192807312085-9jk4t8hnf02gcb6bekmsu73h5td0reap.apps.googleusercontent.com">
    
    <script src="https://www.gstatic.com/firebasejs/3.6.9/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyCzKHMMQFW9QuZmaJAoWqadLibCNBTBggs", //browser key
    authDomain: "se-project2.firebaseapp.com",
    databaseURL: "https://se-project2.firebaseio.com",
    storageBucket: "se-project2.appspot.com",
    messagingSenderId: "192807312085"
  };
  firebase.initializeApp(config);
</script>

<script src = "https://apis.google.com/js/platform.js" async defer></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script type="text/javascript" src="/static/script.js"></script>
        <script>
        /*global user*/
            function onSignIn(googleUser) {
                console.log('Google Auth Response', googleUser);
                alert ("Welcome, " + googleUser.w3['ig']);
            var user = googleUser.w3['ig'];
            //loginSuccessFul(user);
  // We need to register an Observer on Firebase Auth to make sure auth is initialized.
            var unsubscribe = firebase.auth().onAuthStateChanged(function(firebaseUser) {
                unsubscribe();
            // Check if we are already signed-in Firebase with the correct user.
            if (!isUserEqual(googleUser, firebaseUser)) {
                // Build Firebase credential with the Google ID token.
                var credential = firebase.auth.GoogleAuthProvider.credential(
                googleUser.getAuthResponse().id_token);
                  console.log("User" + googleUser + " Has logged in");
            // Sign in with credential from the Google user.
            firebase.auth().signInWithCredential(credential).catch(function(error) {
                // Handle Errors here.
                var errorCode = error.code;
                var errorMessage = error.message;
                // The email of the user's account used.
                var email = error.email;
                // The firebase.auth.AuthCredential type that was used.
                var credential = error.credential;
            // ...
      });
    } else {
      console.log('User already signed-in Firebase.');
    }
  });
  
  //this is the redirect
   function loginSuccessFul(name){
        window.location.replace("/chat.html?user="+ name);
    }
}
</script>
<script src="//connect.facebook.net/en_US/sdk.js"></script>



</script>
        <script src="//connect.facebook.net/en_US/sdk.js"></script>
        <script>
  
window.fbAsyncInit = function() {
    FB.init({
      appId      : '379287432464127',
      xfbml      : true,
      version    : 'v2.8'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));

FB.getLoginStatus(function(response) {
          if (response.status === 'connected') {
            console.log('Logged in.');
          }
          else {
            console.log('initiate FB login...');
            FB.login();
          }
        });


 function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      console.log('Successful login for: ' + response.name);
      console.log(response);
      document.getElementById('status').innerHTML =
        'Thanks for logging in, ' + response.name + '!';
    var user = response.name;
        loginSuccessFul(user);
    });
          

  }
    function loginSuccessFul(name){
     //   window.location.replace("/chat.html?user="+ name);
    }
  </script>
    </head>
    
    <body>
        <div id="status"></div>
      <fb:login-button scope="public_profile,email" onlogin="testAPI();">
        </fb:login-button>
        
         <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
        
        <div id="content"></div>
        <div id ="chatForm"></div>
        <script type="text/javascript" src="/static/script.js"></script>
    </body>
    
</html>